@import '../../../../../../../../../../../../../../libs/themes/src/variables';

.connectionsContainer {
	.cHeading {
		font-size: 1.2rem;
		font-weight: 700;
		margin-bottom: 1.3rem;
		display: inline-block;
		&::first-letter {
			text-transform: capitalize;
		}
	}
	.calendy {
		display: flex;
		align-items: center;
		gap: 1.25rem;
		> input {
			width: 485px;
			height: 44px;
		}
		> button {
			width: fit-content !important;
			font-weight: 400;
			font-size: 1rem;
		}
		.success {
			color: $green;
			display: inline-block;
			&::first-letter {
				text-transform: capitalize;
			}
		}
	}
}
