@import '../../../../../../../../../../../../../../libs/themes/src/variables';

.filters {
  width: 400px;
  padding: 18px;
  background: #ffffff;
  border: 1px solid rgba(231, 235, 255, 0.64);
  box-shadow: 5px 10px 50px rgba(41, 43, 88, 0.2);
  border-radius: 10px;
  height: 480px;
  max-height: 100%;
  overflow: hidden;
  color: $black;
  position: absolute;
  top: 0px;
  right: 18px;
  z-index: 1;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-bottom: 1.5rem;
    .heading {
      font-weight: 600;
      // padding-left: 1.6rem;

      color: $black;
      text-transform: capitalize;
    }
    .right {
      display: flex;
      gap: 12px;
      .resetAllButton {
        color: $blue;
        font-size: 1.2rem;
        cursor: pointer;
        display: inline-block;
        &::first-letter {
          text-transform: capitalize;
        }
        .closeBtn {
          border: none;
          background: none;
          color: $lightBlue;
          width: 1.7rem;
          height: 1.7rem;
          border-radius: 50%;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;

          & > svg {
            width: 100%;
            height: 100%;
          }

          &:hover {
            background: $whiteShade1;
          }
        }
      }
    }
    margin-bottom: 1.5rem;
  }
  .body {
    height: 100%;
    overflow: auto;
    padding-bottom: 3rem;
    &::-webkit-scrollbar {
      display: none;
      width: 0;
    }
    .filterType {
      position: relative;
      margin-bottom: 1.5rem;
      .taskType {
        font-weight: 600;
        font-size: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: capitalize;

        .companySize {
          text-transform: capitalize;
        }
      }
      .resetButton {
        color: $blue;
        // position: absolute;
        cursor: pointer;
        right: 5px;
        top: 5px;
        text-transform: capitalize;
      }
      .filterOptions {
        margin-top: 0.7rem;
        display: flex;
        flex-wrap: wrap;
        column-gap: 1rem;
        row-gap: 0.7rem;
        justify-content: space-between;
        button {
          height: 40px !important;
          font-size: 0.85rem;
          flex: 40%;
          white-space: nowrap;
          text-transform: capitalize;
          &.customCalendarButton,
          &.customCompanyRangeButton {
            width: 100%;
            border-radius: 15px;
          }
          &.active {
            background: $primaryGradient;
            color: $white;
            &:hover {
              opacity: 10;
            }
          }
        }
      }
    }
  }
}
