@import '../../../../../../../../../../libs/themes/src/variables';

.userIntegrationsCard {
  flex: 1;
  background: #ffffff;
  border: 1px solid rgba(231, 235, 255, 0.12);
  border-radius: 15px;
  padding: 1rem;
  height: calc(100vh - 300px);

  .header {
    font-size: $black;
    font-weight: 600;
  }

  .body {
    margin-top: 20px;
    display: flex;
    height: calc(100vh - 546px);
    flex-direction: column;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    .integration {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      align-items: center;
      .details {
        display: flex;
        gap: 10px;
        svg {
          width: 36px;
          height: 36px;

          &.salesforceIcon {
            color: #00a1e0;
            border-radius: 10px;
          }
          &.pipedriveIcon {
            border-radius: 10px;
          }
        }
        img {
          width: 36px;
          height: 36px;
        }

        > div {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;

          > h4 {
            font-weight: 600;
            font-size: 1rem;
          }

          > p {
            font-size: 0.75rem;
            font-weight: 600;
            color: $veryLightBlue;
          }
        }
      }
      .statusWrapper {
        .placeholder {
          height: 20px;
          width: 60px;
          border-radius: 8px;
        }

        > span {
          border-radius: 8px;
          padding: 4px 10px;
          font-size: 0.75rem;
          &.inUse {
            color: $green;
            background: linear-gradient(
              315deg,
              rgba(64, 224, 207, 0.16) 0%,
              rgba(54, 205, 207, 0.16) 100%
            );
          }
          &.notInUse {
            color: $red;
            background: linear-gradient(
              315deg,
              rgba(255, 136, 136, 0.16) 0%,
              rgba(240, 95, 95, 0.16) 100%
            );
          }
        }
      }
    }
  }
}
