@import '../../../../../../../../../../../../libs/themes/src/variables';
.tasks {
  max-width: 100%;
  overflow: hidden;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    & > div {
      display: flex;
      align-items: center;
      .title {
        .tasksTitle {
          text-transform: capitalize;
        }
        span {
          color: $lightBlue;
          display: inline-block;
          &::first-letter {
            text-transform: capitalize;
          }
        }
      }
    }

    .right {
      .search {
        width: 350px;
        position: relative;
      }
    }

    .calendarTooltip::before {
      transform: translateX(-55%) !important;
    }
    .divider {
      position: relative;
      height: 45px;
      &::before {
        position: absolute;
        top: 0;
        content: '';
        height: 100%;
        width: 1px;
        background: $primaryGradient;
      }
    }
    .calendarBtn {
      padding: 0 !important;
    }
    .filterBtn,
    .divider,
    .calendarBtn {
      margin-left: 20px;
    }
  }

  .body {
    // width: calc(100% + 400px);
    height: calc(100vh - 250px);

    gap: 10px;
    display: flex;
    transition: 0.25s ease-in-out;
    .tasksContainer {
      flex: 1;
      overflow-y: scroll;
      border-radius: 10px;
      background-color: $white;
      // padding: 20px 10px;
      display: flex;
      flex-direction: column;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    .noTasks {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h4 {
        color: $veryLightBlue;
        font-size: 1.3rem;
        font-weight: 700;
      }
    }
  }
}
