@import '../../../../../../../../../../../../../../../../../libs/themes/src/variables';

.DNDView {
  width: 100%;
  height: 100%;
  .header {
    margin-left: 10px;
    .tabBtn {
      color: $black;
    }
    .activeTab {
      color: $mainPurple !important;
      font-weight: 600 !important;
    }
  }
  .body {
    height: 100%;
    display: flex;
    @media screen and (max-width: 980px) {
      width: 100%;
    }
  }
}
