@import '../../../../../../libs/themes/src/variables';
@import '../mixins';

@mixin display-flex {
  display: flex;
  align-items: center;
}

.statistics {
  height: 100vh;
  width: 100%;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;

    .right {
      @include display-flex();
      flex-direction: row;
      gap: 20px;
      .filter {
        > div {
          border: none;
          border-radius: 15px;
          width: 210px;
          z-index: 5 !important;
          border-radius: 15px;
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
          &:hover {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15) !important;
          }
        }
      }
    }
  }
  .body {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .graphcard {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      min-height: 350px;
      max-height: 550px;
      background: $white;
      border-radius: 10px;
      padding: 15px;
      position: relative;
      .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .right {
          display: flex;
          align-items: center;
          gap: 20px;
          .btns {
            display: flex;
            gap: 10px;
            justify-content: flex-end;
            align-items: center;
            margin-right: 30px;
            button {
              height: 40px !important;
              width: 60px !important;
              border-radius: 15px;
              &.active {
                background: $primaryGradient;
                color: $white;
                &:hover {
                  opacity: 10;
                }
              }
            }
          }
          .info {
            display: flex;
            gap: 10px;
            .task {
              display: flex;
              padding: 10px 20px;
              justify-content: center;
              align-items: center;
              gap: 30px;
              border-radius: 15px;
              .details {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 5px;
                .title {
                  font-size: 12px;
                  font-weight: 400;
                  line-height: 14px;
                }
                .count {
                  font-size: 16px;
                  font-weight: 700;
                  line-height: 20px;
                }
              }
              .percentage {
                display: flex;
                align-items: center;
                gap: 4px;
                padding: 5px;
                background: $white;
                border-radius: 10px;
                text-align: center;
                font-size: 14px;
                cursor: pointer;
                .number {
                  font-weight: 600;
                }
              }
            }
          }
          .box {
            &_avg_tasks {
              background: rgba(40, 194, 255, 0.08);
            }
            &_total_tasks {
              background: rgba(71, 229, 188, 0.1);
            }
          }
          .fontcolor {
            &_avg_tasks {
              color: $blueLink;
            }
            &_total_tasks {
              color: $ringover;
            }
            &_green {
              color: $ringover;
            }
            &_red {
              color: $red;
            }
          }
        }
      }

      .content {
        height: 100%;
        width: 96%;
      }
    }
    .table {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      gap: 10px;
      background: $white;
      border-radius: 10px;
      padding: 15px;
      position: relative;
      .left {
        margin-right: auto;
      }
      .user_and_company_table {
        width: 100%;
        position: relative;
        .tableheaders {
          position: sticky;
          top: 0;
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          font-weight: 700;
          line-height: 16px;
          text-align: center;
          text-transform: uppercase;
          color: #9e9ea7;
          z-index: 10;
          font-size: 12px;
          background: white;
          .header {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 12px;
            padding: 16px;
            gap: 7px;
            width: 100%;
            .arrow_icon_div {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              gap: 4px;
              font-size: 1rem;
              cursor: pointer;
            }
            &_0 {
              width: 28%;
            }
            &_1 {
              width: 35%;
            }
            &_2 {
              width: 35%;
            }
            .downArrow {
              transform: rotate(180deg);
            }
            .sorted {
              > svg {
                height: 9px;
                width: 9px;
              }
              color: $blueLink;
              cursor: pointer;
            }
          }
        }
        .tabledata {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: max-content;
          gap: 5px;
        }
      }
    }
  }
}
.linePlaceholders {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
  .linePlaceholder {
    height: 50px;
    width: 98%;
  }
}
