@import '../../../../../../../../../../../../../libs/themes/src/variables';
@import './../../settings.module.scss';

.addon {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    > .left {
      .titleContainer {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 1rem;

        .title {
          font-size: 1.5rem;
        }
      }
    }

    > .right {
      > div {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;

        .activated {
          display: flex;
          align-items: center;
          gap: 1rem;
          padding: 1rem;
          background: $whiteShade1;
          border: 1px solid $mainPurple;
          border-radius: 20px;

          p {
            margin-right: 1rem;
          }
        }
        .notactive {
          display: flex;
          align-items: center;
          gap: 1rem;
          padding: 1rem;
          background: $whiteShade1;
          border-radius: 20px;

          p {
            margin-right: 1rem;
          }
        }
      }
    }
  }

  > .main {
    width: 100%;
    height: calc(100vh - 200px);
    background: #fff;
    border-radius: 20px;
    padding: 1.5rem;
    overflow-y: scroll;

    // &::-webkit-scrollbar {
    //   display: none;
    // }

    > div {
      margin-bottom: 2rem;
    }

    > .integrationSettings {
      width: 100%;

      input {
        text-align: left;
      }
      .disabled {
        background-color: rgb(250, 246, 246);
      }

      > .inputGroup {
        width: 50%;
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin-bottom: 1rem;
        align-items: center;
        align-content: center;

        label {
          margin-bottom: 0;
        }
      }
    }

    > .fieldSettings {
      width: 100%;

      .tabs {
        .tabBtns {
          width: fit-content;
        }
        .tabBtnActive {
          color: $mainPurple;
        }
      }

      .english {
        width: 30%;
      }
      .french {
        width: 37%;
      }
      .spanish {
        width: 45%;
      }

      .fieldsContainer {
        width: 100%;
        display: flex;
        align-items: flex-start;
        gap: 2.5rem;
        margin: 2.5rem 0;

        > div > label {
          margin: 0.5rem 0 1rem;
          text-transform: capitalize;
        }

        .fields {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          .inputGroup {
            display: flex;
            align-items: center;
            gap: 10px;
          }
        }
      }
    }
  }
}
.disabled {
  background-color: rgb(224, 220, 220);
}
