@import '../../../../../../../../../../../../../../../../libs/themes/src/variables';

.connectionsContainer {
  .cHeading {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 1.3rem;
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #dde9eb;
    &::first-letter {
      text-transform: capitalize;
    }
  }
  .language {
    button {
      display: flex;
      align-items: center;
      text-transform: capitalize;
      border-radius: 20px;
      height: 49px;
      cursor: initial;
      svg {
        padding: 1px 0.5px;
        margin-right: 10px;
        border-radius: 2px;
        transform: translateX(-0.3px);
        width: 28px;
        height: 19px;
        &.active {
          background: white;
        }
      }
    }
  }
}
