@import '../../../../../../../../../../../../../../libs/themes/src/variables';

.wrapper {
  z-index: 10;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 10px;
  left: 0;
  background: rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  opacity: 0;
  transition: opacity 0.5s;
  &.open {
    opacity: 1;
  }
  .container {
    position: relative;
    background: $white;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    width: calc(100% - 20px);
    margin: 10px;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    @keyframes animateIn {
      0% {
        height: 0%;
      }
      100% {
        height: 100%;
      }
    }
    @keyframes animateOut {
      0% {
        height: 100%;
      }
      100% {
        height: 0%;
      }
    }
    &.open {
      animation: animateIn 0.5s;
    }
    &.close {
      animation: animateOut 0.5s;
    }
    .closeBtn {
      position: absolute;
      z-index: 3;
      left: 15px;
      top: 17.5px;
      border: none;
      background: none;
      color: $lightBlue;
      width: 1.9rem;
      height: 1.9rem;
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      & > svg {
        width: 100%;
        height: 100%;
      }

      &:hover {
        background: $whiteShade1;
      }
    }
    .title {
      color: $lightBlue;
      font-weight: 600;
      margin-left: 25px;
      display: flex;
      align-content: center;
      justify-content: space-between;
      button {
        height: 20px !important;
      }
      span {
        display: inline-block;
        &::first-letter {
          text-transform: capitalize;
        }
      }
    }
    .tabs {
      border-radius: 20px;
      border: 1px solid #d8ecff;
      height: 40px;

      .tabBtns {
        border-radius: 15px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 7px;
        color: $black;
      }

      .tabBtnActive {
        color: #fff;
      }

      .activePill {
        border-radius: 15px;
      }
    }
    .list {
      display: flex;
      flex-direction: column;
      gap: 10px;
      overflow-y: scroll;
      height: calc(100vh - 370px);
      &.admin {
        height: calc(100vh - 420px);
      }
      & > div {
        padding: 5px;
        cursor: pointer;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid transparent;
        .info {
          display: flex;
          align-items: center;
          gap: 10px;
          img {
            height: 28px;
            width: 28px;
            border-radius: 50%;
          }
          & > div {
            font-size: 0.875rem;
            display: flex;
            flex-direction: column;
            span {
              &:last-child {
                color: $lightBlue;
              }
            }
          }
        }
        .tick {
          width: 28px;
          height: 28px;
          background: $primaryGradient;
          border-radius: 17px;
          display: none;
          align-items: center;
          justify-content: center;
          color: $white;
        }
        &.selected {
          background: #f5f6f7;
          border: 1px solid #7e8ee7;
          .tick {
            display: flex;
          }
          .info > div > span:first-child {
            font-weight: 700;
          }
        }
      }
    }
  }
}

.placeholder {
  display: flex;
  flex-direction: column;
  gap: 10px;
  & > div {
    width: 100%;
    height: 50px;
  }
}
