@import '../../../../../../../../../../../../../../../../libs/themes/src/variables';

.connectionsContainer {
  .cHeading {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 1.3rem;
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #dde9eb;
    &::first-letter {
      text-transform: capitalize;
    }
  }
  .connectedwith {
    width: 59%;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background: #fff;
    box-shadow: -2px 4px 20px 0px rgba(57, 71, 89, 0.04);
    @media screen and (max-width: 1100px) {
      width: 100%;
    }
    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70px;
      height: 70px;
      background: rgba(66, 133, 244, 0.1);
      border-radius: 15px 0px 0px 15px;
    }
    .details {
      margin-left: 25px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      gap: 3px;
      .title {
        color: #394759;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
      }
      .subtitle {
        color: $ringover;
        text-align: center;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
  .active {
    border: 1px solid $mainPurple;
  }

  .cTitle {
    color: $black;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 0.4rem;
    &::first-letter {
      text-transform: capitalize;
    }
  }
  .mailTitle {
    color: $lightBlue;
    font-weight: 600;
    margin-top: 0.9rem;
    &::first-letter {
      text-transform: capitalize;
    }
  }
  .cSubtitle {
    color: $veryLightBlue;
    font-weight: 400;
    margin-bottom: 0.9rem;
  }
  .options {
    margin-top: 1.2rem;
    & > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 50px;
      border-radius: 20px;
      background-color: #f5f6f7;
      margin: 10px 0;
      padding: 5px;
      width: 60%;
      @media screen and (max-width: 1100px) {
        width: 100%;
      }
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
      .input {
        display: flex;
        align-items: center;
        .name {
          line-height: 19px;
          margin-left: 10px;
          color: $black;
        }
      }
      .buttons {
        margin-right: 20px;
        button {
          font-size: 1rem;
          font-weight: 400;
          &:last-child {
            margin-left: 10px;
          }
        }
      }
      &.active {
        border: 1px solid #a282e8;
      }
    }
  }
}
